@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
      box-sizing: border-box;
    }
body, html{
  height:100%;
  margin:0;
  font-size:20px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1{
  position:relative;
  /*opacity:0.70;*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-size: cover;
  min-height:100%;
}



nav.active{
    background: black;
  }
   .custom-toggler.navbar-toggler { 
            border-color: white; 

        } 



.hero-image {
   
   background-image: url(../images/bg1.jpg);
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
.hero-text{
    text-align: center;
    text-size-adjust: 100%;
    font-size: 50px;
    font-style:oblique;
    padding: 5px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  
}
.center {
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px;
  }
  p{
  margin-top:2%;
  padding: 8px;
  border: 2px solid #ccc;
  background: #fff;
  opacity: 1;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  text-align:center ;
  font-family: 'Allura', cursive;
  font-weight: bolder;
  color: rgb(95, 5, 91);
  font-size: 65px;
}

/*.portfolio{
  height: 1100px;
  width: 100px;
  padding: 100px 0px 50px;
}*/
.card{
  margin-top: 40px;
}

.hovereffect{
  position: relative;
  transition: 3s;
  box-shadow: 10px 20px 20px rgba(0,0,0,0.8);
}
.hovereffect .overlay,
.hovereffect:after{
  position: absolute;
  left: 20px;
  right: 20px;
}
.hovereffect:after{
  content: '';
  display: block;
  background: grey;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1,1,0,100deg);
  transition: 0.4s;
}
.hovereffect:hover:after{
  opacity: 0.9;
  transform: rotate3d(0,0,0,0deg);
}
.hovereffect img{
  width: 100%;
  height: auto;

}
.overlay{
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%-30%);
  transition: 0.3s;
  text-align: center;
  color: #fff;
}
.overlay h3{
  font-family: big john;
}
.hovereffect:hover .overlay{
  opacity: 1;
  transform: translate(0%,-50%);
  transition-delay: 0.3s;
}